# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
env/
venv/

# Data
data/raw/
data/processed/

# MLflow
mlruns/
mlflow.db

# OS
.DS_Store

# IDE
.vscode/

*.ipynb
